/* @import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Indie Flower', cursive;
}
header
{
  font-size: 2em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
  align-items: right;
}
header .logo
{
  color: #836953;
  
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}
.showcase
{
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  transition: 0.5s;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
  opacity: 0.8;
}
.text
{
  padding: 12px;
  position: relative;
  /* right: 0; */
  z-index: 10;
  background: rgba(251, 204, 209, 0.9);
  border-style: dashed;
  border-radius: 25px;
  border-width: 10px;
  border-color: rgba(255, 172, 181, 0.9);
  justify-content: center;
  text-align: right;
}



.text p
{
  font-size: 1.1em;
  color: #dd864a;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}
.text img
{
  padding: 10px 30px;
  
}
.text a
{
  display: flex;
  font-size: 1em;
  background: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
}
.text a:hover
{
  letter-spacing: 6px;
}
.social
{
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  align-items: center;
}
.text ul
{
  display: inline-block;
  justify-content: center;
  align-items: center;
}
.text li
{
  margin-bottom: 5px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}


.text li h2
{
  font-size: 3em;
  font-weight: 700;
  color: #5c3d28;
  line-height: 1em;
}
.text li a
{
  align-items: center;
  margin-right: 20px;
  background: rgba(251, 204, 209, 0);
  transform: scale(1);
  transition: 0.5s;
}

.text li h3
{
  justify-content: right;
  margin-top: 25px;
  margin-right: 40px;
  font-size: 2em;
  font-weight: 700;
  color: #dd864a;
  line-height: 1em;
}

footer
{
  font-size: 2em;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
  
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}

.text li a:hover
{
  transform: scale(0.5) translateY(-15px);
}

@media (max-width: 900px)
{
  .showcase,
  .showcase header,
  .showcase footer
  {
    padding: 40px;
  }
  .text li h2
  {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
  }
  .text li h3
  {
    font-size: 1.5em;
    padding: 0px;
    margin-right: 0px;
  }
  .text li a
  {
    font-size: 1.5em;
    padding: 0px;
    padding-left: 0px;
    margin-right: 0px;
  }

  .text img
  {
    padding: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 15px;
    
  }
  footer
  {
    font-size: 1.2em;
    justify-content: center;

  }
  header
  {
    text-align: center;
    justify-content: center;
  }
}